$color-primary: #ffe0d8;
$color-secondary: #cf307d;
$color-terciary: #fff2f8;

$color-font-dark-grey: #6e6e77;
$color-ghost: #fafafa;

$font-serif: "Merriweather", serif;
$font-primary: "Roboto", sans-serif;

// Responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
