.action {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000;

    &:hover > &__logo,
    &:active > &__logo {
        transform: translateX(1rem);
    }

    &__logo {
        fill: #000;
        height: 5rem;
        width: 5rem;
        padding-right: 2rem;
        transition: transform 0.2s ease-in;
    }

    &__text {
        font-size: 1.7rem;
        font-weight: 400;
    }
}

.action--secondary {
    color: $color-secondary;

    & > .action__logo {
        fill: $color-secondary;
    }
}
